#col2 {
	display: grid;
	grid-template-columns: auto auto;
	border: 2px solid black;
	padding-top: 2%;
}
.col {
	padding: 20%;
	margin: 0 auto;
	text-align: justify;
	text-align-last: center;
	color: rgb(165, 165, 165);
	font-size: 1.5em;
	padding: 0 5% 2% 5%;
	font-family: 'Oxygen', sans-serif;
}

@media screen and (max-width: 540px) {
	#col2 {
		grid-template-columns: 100%;
	}
}
