@import 'hero.css';
@import 'navbar.css';
@import 'historia.css';
@import 'footer.css';
@import 'card.css';
@import 'galeria.css';
@import 'mas.css';
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

html {
	scroll-behavior: smooth;
}
body {
	margin: 0px;
	padding: 0px;
	background-color: #071c34;
}

.titulo {
	margin: auto;
	padding: 0;
	text-align: justify;
	text-align-last: center;
	font-family: 'Permanent Marker', cursive;
	font-size: 4em;
	color: rgb(196, 196, 196);
	text-decoration: underline wavy;
	padding-bottom: 1.5%;
	padding-top: 4%;
	display: block;
}

.texto {
	margin: auto;
	padding: 0;
	text-align: justify;
	text-align-last: center;
	color: rgb(165, 165, 165);
	font-size: 1.5em;
	padding: 0 5% 2% 5%;
	font-family: 'Oxygen', sans-serif;
}
.imagen {
	width: 40%;
	height: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 800px) {
	#bnc {
		height: 80%;
		width: 60%;
	}
}
